

/* Start Header */
.header-background {
  background-image: url("./assets/carousel1.jpg");
  height: 900px;
  background-size: cover;


}

/* Start Navbar */
.food-class{
  color: #3CB815;
}

.lists {
  list-style: none;
  display: flex;
  margin-right: 80px;
}

.lists li {
  margin: 7px;
  
}

.lists li a {
  text-decoration: none;
  color: black;
}

.Navbars{
  display: flex;
  justify-content: space-between;
}

.xx{
  display: flex;
}

.icons{
  font-size: x-large;
  margin-top: 13px;
}

.icons i {
  margin: 5px;
  background-color: white;
  padding: 4px;
  border-radius: 50%;
  color: gray;
}

/* End Navbar */




.organik-class{
  font-size: 80px;
  max-width: 700px;
margin-left: 40px;
  margin-top: 200px;


}

.header-btns{
  border-radius: 20px;
  padding: 15px;
  padding-left: 20px;
  position: relative;
left: 40px;
  
  color: white;
  

}


.header-btn1{
  background-color: #3CB815;
  margin: 5px;
}


.header-btn2{
  background-color: red;
  margin: 5px;
}
/* End Header */






/* Start Section 3 */
.section-3{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.section3-img{
  width: 350px;
  height: 400px;
  font-weight: bold;
}

.text1-section3{
  max-width: 450px;
  font-size: 20px;
  margin-top: 50px;
  
}

.section3-icons{
  color: #3CB815;

}

.section3-lists{
  list-style: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 35px;
}

.section3-btn{
  background-color: #3CB815;
  color: white;
  font-size: 18px;
  padding: 11px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}


/* End Section 3 */



/* START FIRM SECTTION */
.firm-section{
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  background-color: #3CB815;
  color: white;
  padding-top: 50px;
}

.firm-text{
  max-width: 600px;
}



.firm-button{
  padding: 15PX;
  background-color: red;
  color: white;
  border-radius: 20PX;
  margin-top: 20px;
  cursor: pointer;
}


/* END FIRM SECTTION */






/* START FEATURES SECTION */

.features-section{
  margin-top: 100px;

}

.empty-divs{
  display: flex;
  justify-content: center;
  margin-left: 100px;
}

.empty-div1{
  width: 75px;
  height: 3px;
  background-color: #3CB815;
 
}

.empty-div2{
  width: 150px;
  height: 3px;
  margin-top: 13px;
  background-color: red;
  position: relative;
  right: 100px;

}






.features-content{
  text-align: center;
}


.features-cards{
  display: flex;
  justify-content: space-evenly;
}

.feature-card{
  border: solid whitesmoke;
  border-radius: 18%;
  width: 320px;
  height: 300px;
  text-align: center;
}

.features-text2{
max-width: 250px;
line-height: 25px;
margin-left: 20px;

}

.features-buttons{

  border:solid #3CB815;
  color: #3CB815;
  padding: 13px;
  width: 120px;
  border-radius: 20px;
  cursor: pointer;
}

.features-buttons:hover{
  background-color: #3CB815;
  color: white;
  transition: 0.5s;
}


 /* END FEATURES SECTION */




 /* START FOOTER SECTION */

footer{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.footer-title1{
  color:#3CB815 ;
}

.footer-text1{

  max-width: 250px;
  line-height: 25px;
  font-size: large;
}




.footer-icons i {
  font-size: 25px;
  margin: 10px;
  border: solid white;
  padding: 5px;
  border-radius: 50%;
  color: white;
}

.footer-icons i:hover{
  border: solid white;
  background-color: white;
  color: black;
  transition: 0.5s;
}



.address-title{
  margin-left: 35px;
}
.address-icons{
  list-style: none;
  
}
.address-icons li {
  margin-bottom: 10px;
}

.quick-icons{
  list-style: none;
}


.quick-icons li{
  margin: 10px;
}

.quick-icons li a {
  text-decoration: none;
  color: white;
  
}

.quick-icons li:hover{
  font-size:18px;
  transition: 0.5s;
}


.footer-form:hover{
border: solid #3CB815;


}
.footer-input{
  border: 0;
  padding: 15px;
}

.footer-btn{
  padding: 15px;
  background-color: #3CB815;
  color: white;
}



/* END FOOTER SECTION */