

/* Start Header */
.header-background {
  background-image: url("./assets/carousel1.jpg");
  height: 900px;
  background-size: cover;


}

/* Start Navbar */
.food-class{
  color: #3CB815;
}

.lists {
  list-style: none;
  display: flex;
  margin-right: 80px;
}

.lists li {
  margin: 7px;
  
}

.lists li a {
  text-decoration: none;
  color: black;
}

.Navbars{
  display: flex;
  justify-content: space-between;
}

.xx{
  display: flex;
}

.icons{
  font-size: x-large;
  margin-top: 13px;
}

.icons i {
  margin: 5px;
  background-color: white;
  padding: 4px;
  border-radius: 50%;
  color: gray;
}

/* End Navbar */




.organik-class{
  font-size: 80px;
  max-width: 700px;
margin-left: 40px;
  margin-top: 200px;


}

.header-btns{
  border-radius: 20px;
  padding: 15px;
  padding-left: 20px;
  position: relative;
left: 40px;
  
  color: white;
  

}


.header-btn1{
  background-color: #3CB815;
  margin: 5px;
}


.header-btn2{
  background-color: red;
  margin: 5px;
}
/* End Header */






/* Start Section 3 */
.section-3{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.section3-img{
  width: 350px;
  height: 400px;
  font-weight: bold;
}

.text1-section3{
  max-width: 450px;
  font-size: 20px;
  margin-top: 50px;
  
}

.section3-icons{
  color: #3CB815;

}

.section3-lists{
  list-style: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 35px;
}

.section3-btn{
  background-color: #3CB815;
  color: white;
  font-size: 18px;
  padding: 11px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}


/* End Section 3 */



/* START FIRM SECTTION */
.firm-section{
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  background-color: #3CB815;
  color: white;
  padding-top: 50px;
}

.firm-text{
  max-width: 600px;
}



.firm-button{
  padding: 15PX;
  background-color: red;
  color: white;
  border-radius: 20PX;
  margin-top: 20px;
  cursor: pointer;
}


/* END FIRM SECTTION */
